<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Races</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1>Races</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Race ID</th>
        <th>Name</th>
        <th>Distance (km)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="race : ${races}">
        <td th:text="${race.id}"></td>
        <td th:text="${race.name}"></td>
        <td th:text="${race.distanceInKM}"></td>
        <td>
            <a th:href="@{/race/{id}(id=${race.id})}" class="btn btn-primary">View</a>
        </td>
    </tr>
    </tbody>
</table>
<form action="/createRace" method="post">
    <div class="form-group">
        <label for="raceName">Race Name:</label>
        <input type="text" class="form-control" id="raceName" name="name" placeholder="Enter race name">
    </div>
    <div class="form-group">
        <label for="raceDistance">Distance in KM:</label>
        <input type="text" class="form-control" id="raceDistance" name="distance" placeholder="Enter distance">
    </div>
    <button type="submit" class="btn btn-success">Create Race</button>
</form>
</body>
</html>
